@import 'mixin&extend';

$mainBackgroung: rgb(255, 255, 255);
$secondBackground: #def4ff;
$thirdBackground: rgb(236, 249, 255);
$colorTextBlack: #4b4949;
$colorTextWhite: #ffffff;
$colorBox: #adadad;
$btn: #00b469;
$imgBorderRadius: 14px;
$btnBorderRadius: 18px;

:root {
  font-size: 14px;
}

body {
  @include centered-object;
  background: $mainBackgroung;
  color: $colorTextBlack;
  font-size: 3rem;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  @media (max-width: 320px) {
    display: none;
  }
}

.container {
  @include centered-object;
  width: 100vw;
}

///////////Butons style for all pages////////
.btn {
  margin: 0.8rem 0 0.8rem 0;
  font-size: 1rem;
  width: 10rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $btnBorderRadius;
  border: none;
  padding: 0.5rem;
  background-color: $btn;
  color: $mainBackgroung;
  box-shadow: 4px 4px 10px 0px rgba(119, 119, 119, 0.75);
  outline: none;

  &:hover {
    box-shadow: none;
  }
}
