.form {
  width: 1200px;
  background-color: $secondBackground;
  display: flex;
  padding: 3rem 0;
  font-size: 1rem;
  margin: 3rem 0;
  @media (max-width: 1200px) {
    width: 940px;
  }
  @media (max-width: 960px) {
    width: 730px;
    margin: 0;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
  }
}

.images {
  width: 45%;
  @media (max-width: 576px) {
    margin: 0 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 90%;
    margin: 0 5%;
    border-radius: 10px;
    @media (max-width: 576px) {
      width: 70%;
      margin: 0;
      margin-bottom: 2rem;
    }
  }
  .map {
    width: 100%;
    height: 280px;
    width: 90%;
    margin: 0 5%;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: blanchedalmond;
    @media (max-width: 960px) {
      height: 200px;
    }
    @media (max-width: 576px) {
      display: none;
    }
  }
}

.hotel_form {
  width: 55%;
  margin-left: 2.25%;
  @media (max-width: 576px) {
    margin: 0 5%;
    width: 90%;
  }
  .hotel_name {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 14px;
  }

  img {
    width: 80px;
  }
  .two_columns {
    display: flex;
    flex-direction: row;
    p {
      width: 40%;
      @media (max-width: 576px) {
        width: 50%;
      }
    }
  }
  span {
    font-weight: bold;
    font-size: 1.1rem;
  }
  p {
    margin: 10px 0;
  }
  .options {
    margin: 1rem 0;

    img {
      width: 20px;
    }
    div {
      display: flex;
      margin-bottom: 10px;

      p {
        width: 150px;
        margin: 0;
        margin-left: 10px;
        padding: 8px 0;
        background-color: $mainBackgroung;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 10px;
        text-align: center;
      }
    }
  }
  .name_data input {
    padding: 0;
    margin: 0;
    margin-top: 4px;
    width: 182px;
    height: 30px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
  }

  .inputs {
    margin-top: 10px;
    input,
    label {
      margin-bottom: 10px;
    }
  }

  .booking {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
  }
}
