/////Page 1////////

header {
  @include centered-object;
  font-size: 1rem;
  width: 100vw;
  background-image: url(../images/barcelona_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-bottom: 1rem;

  .title {
    margin: 2rem 0 2rem 0;
    font-size: 2.8rem;
    @media (max-width: 768px) {
      font-size: 2.3rem;
    }
    @media (max-width: 576px) {
      font-size: 1.8rem;
    }
  }
  form {
    @include flex-row;
    margin: 0 1rem;
    @media (max-width: 960px) {
      display: flex;
      flex-wrap: wrap;
      width: 485px;
    }
    @media (max-width: 576px) {
      @include flex-column;
      width: 60%;
    }
  }
  .input_fiels {
    @include centered-object;
    flex-direction: row;

    input {
      border: none;
      width: 130px;
      height: 18px;
      padding: 0.5rem;
      font-size: 1.05rem;
      outline: none;
      @media (max-width: 960px) {
        margin-bottom: 1rem;
      }
    }
    .search__date_from,
    .search__date_to {
      width: 150px;
      padding-left: 10px;
      cursor: pointer;
      font-family: 'Lato', sans-serif;
      font-size: 1.2rem;
    }
    label {
      padding: 0.5rem;
      height: 18px;
      font-size: 15px;
      background-color: rgba(255, 255, 255, 0.5);
      margin-left: 1rem;
      @media (max-width: 960px) {
        margin-left: 0rem;
        margin-bottom: 1rem;
      }
    }
    select {
      border: none;
      font-size: 15px;
      padding: 0.5rem;
      outline: none;
      height: 32px;
      @media (max-width: 960px) {
        margin-bottom: 1rem;
      }
    }
  }
}

////////////Page 2////////////////
.arrow_back {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  img {
    padding: 1rem 1rem 0 0;
  }
}

.search {
  padding-bottom: 2rem;
  font-size: 8px;

  .search__people {
    width: 2rem;
    padding-left: 0;
    text-align: center;
  }
}

.search__btn {
  @extend .btn;
  img {
    width: 1rem;
    margin-left: 0.7rem;
  }
}
